$font-cabin: 'Cabin', sans-serif;
$font-cabin-regular: 400;
$font-cabin-medium: 500;
$font-cabin-semi-bold: 600;
$font-cabin-bold: 700;

$font-rubik: 'Rubik', sans-serif;
$font-rubik-light: 300;
$font-rubik-regular: 400;
$font-rubik-medium: 500;
$font-rubik-semi-bold: 600;
$font-rubik-bold: 700;
$font-rubik-extra-bold: 800;
$font-rubik-black: 900;