@use '../styles/variables' as vars;

.page_bloc {
    width: auto;
    min-height: calc(100vh - 100px);
    padding: 40px;
}

.titleAndBtn {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: vars.$font-color;
    .divDoubleBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.btn_home {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 7px;
    margin-right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        background-color: royalblue;
        border: 1px solid royalblue;
    }
    &:active {
        background-color: deepskyblue;
        border: 1px solid deepskyblue;
    }
}

.btn_return {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        background-color: royalblue;
        border: 1px solid royalblue;
    }
    &:active {
        background-color: deepskyblue;
        border: 1px solid deepskyblue;
    }
}

.container_bloc {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleOfStack {
    padding-top: 20px;
    color: vars.$font-color;
}

.item_div {
    width: 80%;
}

.items_bloc_design {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2rem;
    font-weight: 600;

    margin: 20px 0;
    padding: 0 20px;

    background-color: vars.$fg-color;

    border-radius: 50px;
    color: #f5f5f5;

    &:hover {
        background-color: #222;
    }
    &:active {
        background-color: #555;
    }
}

.items_bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 60px;

    cursor: pointer;

    // border: 1px solid salmon;
}

.btn_bloc {
    position: absolute;

    width: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid green;

    z-index: 10;
}

.btn_change_block {
    cursor: pointer;
    background: dodgerblue;
    border-radius: 50% 50%;
    margin-right: 20px;
    &:hover {
        background: royalblue;
    }
    &:active {
        background: deepskyblue;
    }
}

.btn_del_bloc {
    cursor: pointer;
    background: red;
    border-radius: 50% 50%;
    &:hover {
        background: firebrick;
        border-radius: 50% 50%;
    }
    &:active {
        background: orangered;
    }
}

.detail_card {
    padding: 20px 0;
    width: 80%;

    border: 1px solid green;
}

.title_pageId {
    color: vars.$font-color;
}

.title_add_material {
    padding: 20px 0;
    color: vars.$font-color;
}

.materials_list {
    margin: 40px 0;
    // border: 1px solid yellow;
}

.material_item {
    width: auto;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;

    padding: 0 20px;

    background-color: vars.$fg-color;

    border: none;
    border-radius: 50px;
    color: #f5f5f5;
}

.edit_form {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.material_span {
    width: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2rem;
    border: 1px solid orange;
}

.material_name {
    font-size: 1.2rem;
    font-weight: 600;
    
    color: #f5f5f5;
    // border: 1px solid violet;
}

.quantity_input_btn {

    width: 75%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid orange;
}

.input {
    padding: 10px 5px;

    // border: 1px solid lightgreen;
}

.material_info {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // border: 1px solid lightgreen;
}

.material_info strong {
    font-size: 1.2rem;
    color: vars.$font-color;
    // border: 1px solid red;
}

.material_info span {
    font-size: 1.2rem;
    color: vars.$font-color;
    
    border: 1px solid red;
}

.material_actions {
    
    border: 1px solid pink;
}

.btn_modify {
    font-size: 1.0rem;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 20px;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: royalblue;
    }
    &:active {
        background: deepskyblue;
    }
}

.btn_delete {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px 20px;
    background: red;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: firebrick;
        border: 1px solid firebrick;
    }
    &:active {
        background: orangered;
        border: 1px solid orangered;
    }
}

.btn_save {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px 20px;
    background: green;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: darkgreen;
        border: 1px solid darkgreen;
    }
    &:active {
        background: lightgreen;
        border: 1px solid lightgreen;
    } 
}

.btn_cancel {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px 20px;
    background: slategrey;
    border: 1px solid slategrey;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: dimgrey;
    }
    &:active {
        background: grey;
    } 
}

.add_material {
    // padding: 20px 0;
    border: 1px solid springgreen;
}

.add_form {
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid orange;
}

.add_btn {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px 20px;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: royalblue;
    }
    &:active {
        background: deepskyblue;
    }
}

.model {
    border: 1px solid cyan;
}

.nombre {
    border: 1px solid orangered;
}

// {}
// []