@use '../styles/mixins' as mixins;
@use '../styles/fonts' as fonts;
@use '../styles/variables' as vars;

.navmenu {
    width: auto;
    height: 100px;

    background-color: vars.$fg-color;
    border-bottom: 1px solid #333;
}

.ulmenu {
    width: auto;
    height: 100%;
    @include mixins.flex-row-between-center($flex-direction: row, $justify-content: space-between);
    margin: auto 40px;
    padding: auto;
    list-style-type: none;
}

.li {
    font-family: fonts.$font-rubik;
    font-size: 1.2rem;
    font-weight: fonts.$font-rubik-regular;
    color: vars.$primary-color;
    &:hover {
        color: vars.$font-hover;
    }
    &:active {
        font-size: vars.$font-active;
    }
}

.btn_dark_mode {
    padding: 10px;
    background-color: vars.$bg-color;
    border: 1px solid vars.$fg-color;
    border-radius: 50% 50%;
    cursor: pointer;
}