@use './mixins' as mixins;
@use './fonts' as fonts;
@use './variables' as vars;

.navmenu {
    @include mixins.width-height($width: auto, $height: 100px);
    background-color: vars.$fg-color;
    box-shadow: vars.$box-shadow;
}

.ulmenu {
    @include mixins.width-height($width: auto, $height: 100%);
    @include mixins.flex-row-between-center($flex-direction: row, $justify-content: space-between);
    margin: auto 40px;
    padding: auto;
    list-style-type: none;
    color: vars.$primary-color;
}

.li {
    @include mixins.family-size-weight($family: fonts.$font-rubik, $size: 1.2rem, $weight: fonts.$font-rubik-regular);
    color: vars.$primary-color;
    transform: scale(1.0);
    transition: transform 0.25s ease;
    &:hover {
        color: vars.$font-hover;
        transform: scale(1.05);
    }
    &:active {
        color: vars.$font-active;
        transform: scale(0.95);
    }
    a {
        font-weight: bold;
        color: vars.$primary-color;
    }
}

.btn_dark_mode {
    padding: 7px;
    background-color: vars.$bg-color;
    border: 1px solid vars.$bg-color;
    border-radius: 50% 50%;
    cursor: pointer;
    &:hover {
        background-color: vars.$primary-color;
        border: 1px solid vars.$primary-color;
    }
    &:active {
        background-color: vars.$fg-color;
        border: 1px solid vars.$fg-color;
    }
    .span {
        font-size: 1.0rem;
    }
}