@import '@fontsource/cabin/400.css';
@import '@fontsource/cabin/500.css';
@import '@fontsource/cabin/600.css';
@import '@fontsource/cabin/700.css';

@import '@fontsource/rubik/300.css';
@import '@fontsource/rubik/400.css';
@import '@fontsource/rubik/500.css';
@import '@fontsource/rubik/600.css';
@import '@fontsource/rubik/700.css';
@import '@fontsource/rubik/800.css';
@import '@fontsource/rubik/900.css';

:root {
  --background: #d3d3d3;
  --foreground: #000000;
  --font-color: #333333;
  --bg-logo: #949494;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #2c3e50;
  --font-color: #c1c1c1;
  --bg-logo: #3f3f3f;
}

html {
  height: 100vh;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: auto;
  height: calc(100vh - 100px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #c1c1c1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
